// FOOTER
footer
	// FOOTER TOP
	#footer-top-wrap
		#footer-top
			// COMPANY INFO
			.company-info
				figure.logo.small
					img(src='images/logo_small.png', alt='logo-small')
				p
					| Lorem ipsum dolor sit amet, consectetur isicing elit, sed do eiusmod tempor incididunt ut labo dolore magna ua.
				ul.company-info-list
					li.company-info-item
						span.icon-present
						p
							span 850.296
							|  Products
					li.company-info-item
						span.icon-energy
						p
							span 1.207.300
							|  Members
					li.company-info-item
						span.icon-user
						p
							span 74.059
							|  Sellers
				// SOCIAL LINKS
				ul.social-links
					li.social-link.fb
						a(href='#')
					li.social-link.twt
						a(href='#')
					li.social-link.db
						a(href='#')
					li.social-link.rss
						a(href='#')
				// /SOCIAL LINKS
			// /COMPANY INFO
			// LINK INFO
			.link-info
				p.footer-title Our Community
				// LINK LIST
				ul.link-list
					li.link-item
						.bullet
						a(href='#') How to Join us
					li.link-item
						.bullet
						a(href='#') Buying and Selling
					li.link-item
						.bullet
						a(href='forum.html') Emerald Forum
					li.link-item
						.bullet
						a(href='blog-v1.html') Emerald Blog
					li.link-item
						.bullet
						a(href='#') Free Goods
					li.link-item
						.bullet
						a(href='#') Job Oportunities
				// /LINK LIST
			// /LINK INFO
			// LINK INFO
			.link-info
				p.footer-title Member Links
				// LINK LIST
				ul.link-list
					li.link-item
						.bullet
						a(href='#') Partner Program
					li.link-item
						.bullet
						a(href='#') Starting a Shop
					li.link-item
						.bullet
						a(href='#') Purchase Credits
					li.link-item
						.bullet
						a(href='#') Withdrawals
					li.link-item
						.bullet
						a(href='#') World Meetings
					li.link-item
						.bullet
						a(href='#') How to Auction
				// /LINK LIST
			// /LINK INFO
			// LINK INFO
			.link-info
				p.footer-title Help and FAQs
				// LINK LIST
				ul.link-list
					li.link-item
						.bullet
						a(href='#') Help Center
					li.link-item
						.bullet
						a(href='#') FAQs
					li.link-item
						.bullet
						a(href='#') Terms and Conditions
					li.link-item
						.bullet
						a(href='#') Products Licenses
					li.link-item
						.bullet
						a(href='#') Security Information
				// /LINK LIST
			// /LINK INFO
			// TWITTER FEED
			.twitter-feed
				p.footer-title Twitter Feed
				// TWEETS
				ul.tweets
				// /TWEETS
			// /TWITTER FEED
	// /FOOTER TOP
	// FOOTER BOTTOM
	#footer-bottom-wrap
		#footer-bottom
			p
				span ©
				a(href='index.html') Emerald Dragon
				|  Template - All Rights Reserved 2015
	// /FOOTER BOTTOM
// /FOOTER
