// PRODUCT SIDESHOW
#product-sideshow-wrap
	#product-sideshow
		// PRODUCT SHOWCASE
		.product-showcase
			// HEADLINE
			.headline.primary
				h4 Latest Online Products
				// SLIDE CONTROLS
				.slide-control-wrap
					.slide-control.left
						// SVG ARROW
						svg.svg-arrow
							use(xlink:href='#svg-arrow')
						// /SVG ARROW
					.slide-control.right
						// SVG ARROW
						svg.svg-arrow
							use(xlink:href='#svg-arrow')
						// /SVG ARROW
				// /SLIDE CONTROLS
			// /HEADLINE
			// PRODUCT LIST
			#pl-1.product-list.grid.column4-wrap.owl-carousel
				// PRODUCT ITEM
				.product-item.column
					// PIN
					span.pin.featured Featured
					// /PIN
					// PRODUCT PREVIEW ACTIONS
					.product-preview-actions
						// PRODUCT PREVIEW IMAGE
						figure.product-preview-image
							img(src='images/items/flat_m.jpg', alt='product-image')
						// /PRODUCT PREVIEW IMAGE
						// PREVIEW ACTIONS
						.preview-actions
							// PREVIEW ACTION
							.preview-action
								a(href='item-v1.html')
									.circle.tiny.primary
										span.icon-tag
								a(href='item-v1.html')
									p Go to Item
							// /PREVIEW ACTION
							// PREVIEW ACTION
							.preview-action
								a(href='#')
									.circle.tiny.secondary
										span.icon-heart
								a(href='#')
									p Favourites +
							// /PREVIEW ACTION
						// /PREVIEW ACTIONS
					// /PRODUCT PREVIEW ACTIONS
					// PRODUCT INFO
					.product-info
						a(href='item-v1.html')
							p.text-header Flatland - Hero Image Composer
						p.product-description Lorem ipsum dolor sit urarde...
						a(href='shop-gridview-v1.html')
							p.category.primary Hero Images
						p.price
							span $
							| 12
					// /PRODUCT INFO
					hr.line-separator
					// USER RATING
					.user-rating
						a(href='author-profile.html')
							figure.user-avatar.small
								img(src='images/avatars/avatar_09.jpg', alt='user-avatar')
						a(href='author-profile.html')
							p.text-header.tiny Odin_Design
						ul.rating.tooltip(title="Author's Reputation")
							li.rating-item
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
							li.rating-item
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
							li.rating-item
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
							li.rating-item
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
							li.rating-item
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
					// /USER RATING
				// /PRODUCT ITEM
			// /PRODUCT LIST
		// /PRODUCT SHOWCASE
		// PRODUCT SHOWCASE
		.product-showcase
			// HEADLINE
			.headline
				h4 Your Followers Feed
				// SLIDE CONTROLS
				.slide-control-wrap
					.slide-control.left
						// SVG ARROW
						svg.svg-arrow
							use(xlink:href='#svg-arrow')
						// /SVG ARROW
					.slide-control.right
						// SVG ARROW
						svg.svg-arrow
							use(xlink:href='#svg-arrow')
						// /SVG ARROW
				// /SLIDE CONTROLS
			// /HEADLINE
			// PRODUCT LIST
			#pl-5.product-list.grid.column4-wrap.owl-carousel
				// PRODUCT ITEM
				.product-item.column
					// PRODUCT PREVIEW ACTIONS
					.product-preview-actions
						// PRODUCT PREVIEW IMAGE
						figure.product-preview-image
							img(src='images/items/tablet_m.jpg', alt='product-image')
						// /PRODUCT PREVIEW IMAGE
						// PREVIEW ACTIONS
						.preview-actions
							// PREVIEW ACTION
							.preview-action
								a(href='product-page.html')
									.circle.tiny.primary
										span.icon-tag
								a(href='product-page.html')
									p Go to Item
							// /PREVIEW ACTION
							// PREVIEW ACTION
							.preview-action
								a(href='#')
									.circle.tiny.secondary
										span.icon-heart
								a(href='#')
									p Favourites +
							// /PREVIEW ACTION
						// /PREVIEW ACTIONS
					// /PRODUCT PREVIEW ACTIONS
					// PRODUCT INFO
					.product-info
						a(href='product-page.html')
							p.text-header Axcom Drawing Tablet (New)
						p.product-description Lorem ipsum dolor sit urarde...
						a(href='products.html')
							p.category.tertiary Tablets
						p.price
							span $
							| 380
					// /PRODUCT INFO
					hr.line-separator
					// USER RATING
					.user-rating
						a(href='author-profile.html')
							figure.user-avatar.small
								img(src='images/avatars/avatar_16.jpg', alt='user-avatar')
						a(href='author-profile.html')
							p.text-header.tiny Erika Thompson
						ul.rating.tooltip(title="Author's Reputation")
							li.rating-item
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
							li.rating-item
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
							li.rating-item
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
							li.rating-item
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
							li.rating-item.empty
								// SVG STAR
								svg.svg-star
									use(xlink:href='#svg-star')
								// /SVG STAR
					// /USER RATING
				// /PRODUCT ITEM
			// PRODUCT LIST
		// PRODUCT SHOWCASE
// /PRODUCTS SIDESHOW
