.shadow-film.closed
// SVG ARROW
svg(style='display: none;')
    symbol#svg-arrow(viewbox='0 0 3.923 6.64014', preserveaspectratio='xMinYMin meet')
        path(d='M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329\
        L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z')
// /SVG ARROW
// SVG STAR
svg(style='display: none;')
    symbol#svg-star(viewbox='0 0 10 10', preserveaspectratio='xMinYMin meet')
        polygon(points='4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751 \
        2.495,6.313 -0.002,3.878 3.45,3.376 ')
// /SVG STAR
// SVG PLUS
svg(style='display: none;')
    symbol#svg-plus(viewbox='0 0 13 13', preserveaspectratio='xMinYMin meet')
        rect(x='5', width='3', height='13')
        rect(y='5', width='13', height='3')
// /SVG PLUS
// jQuery
script(src='/js/vendor/jquery-3.1.0.min.js')
// Tooltipster
script(src='/js/vendor/jquery.tooltipster.min.js')
// Owl Carousel
script(src='/js/vendor/owl.carousel.min.js')
// Tweet
script(src='/js/vendor/twitter/jquery.tweet.min.js')
// xmAlerts
script(src='/js/vendor/jquery.xmalert.min.js')
// Side Menu
script(src='/js/side-menu.js')
// Home
script(src='/js/home.js')
// Tooltip
script(src='/js/tooltip.js')
// User Quickview Dropdown
script(src='/js/user-board.js')
// Home Alerts
script(src='/js/home-alerts.js')
// Footer
script(src='/js/footer.js')
