// SUBSCRIBE BANNER
#subscribe-banner-wrap
	#subscribe-banner
		// SUBSCRIBE CONTENT
		.subscribe-content
			// SUBSCRIBE HEADER
			.subscribe-header
				figure
					img(src='images/news_icon.png', alt='subscribe-icon')
				p.subscribe-title Subscribe to our Newsletter
				p And receive the latest news and offers
			// /SUBSCRIBE HEADER
			// SUBSCRIBE FORM
			form.subscribe-form
				input#subscribe_email(type='text', name='subscribe_email', placeholder='Enter your email here...')
				button.button.medium.dark Subscribe!
			// /SUBSCRIBE FORM
		// /SUBSCRIBE CONTENT
// /SUBSCRIBE BANNER
