.shadow-film.closed
// SVG ARROW
svg(style='display: none;')
	symbol#svg-arrow(viewbox='0 0 3.923 6.64014', preserveaspectratio='xMinYMin meet')
		path(d='M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329\
		L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z')
// /SVG ARROW
// SVG PLUS
svg(style='display: none;')
	symbol#svg-plus(viewbox='0 0 13 13', preserveaspectratio='xMinYMin meet')
		rect(x='5', width='3', height='13')
		rect(y='5', width='13', height='3')
// /SVG PLUS
// SVG MINUS
svg(style='display: none;')
	symbol#svg-minus(viewbox='0 0 13 13', preserveaspectratio='xMinYMin meet')
		rect(y='5', width='13', height='3')
// /SVG MINUS
// jQuery
script(src='/js/vendor/jquery-3.1.0.min.js')
// Tooltipster
script(src='/js/vendor/jquery.tooltipster.min.js')
// XM Pie Chart
script(src='/js/vendor/jquery.xmpiechart.min.js')
// Side Menu
script(src='/js/side-menu.js')
// Dashboard Header
script(src='/js/dashboard-header.js')
// Dashboard Custom
script(src='/js/dashboard-custom.js')
// Tooltip
script(src='/js/tooltip.js')
// Dashboard ManageItems
script(src='/js/dashboard-manageitems.js')
