doctype html
html(lang="pt-BR")
	head
		include partials/head
		meta(charset="utf-8")
		link(rel="icon", href="/css/favicon.ico")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title high stakes missions

	body
		block content
			
		include partials/scripts
